#charakter
{
	position: absolute;
	width: 100px;
	height: 100px;
}

#playfield
{
	width: 500px;
	height: 500px;
	background-color: rgb(100, 255, 40);
}

.collectible
{
	position: absolute;
	width: 100px;
}

.collectibleEnd
{
	position: absolute;
	transition: transform 5s ease-in-out;
	transform:scale(3,3);
	/*
	-webkit-transition-property: width;
	-webkit-transition-duration: 5s;
	-webkit-transition-timing-function: ease-in-out;
	width: 300px;
	*/
}