#charakter
{
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 100;
}

#playfield
{
	width: 500px;
	height: 500px;
	z-index: -100;
	/*background-color: rgb(100, 255, 40);*/
}

.collectible
{
	position: absolute;
	width: 100px;
	z-index: -10;
}

.collectibleEnd
{
	position: absolute;
	z-index: -10;
	opacity: 0.5;
	transition: transform 5s ease-in-out;
	transform:scale(3,3);
	/*
	-webkit-transition-property: width;
	-webkit-transition-duration: 5s;
	-webkit-transition-timing-function: ease-in-out;
	width: 300px;
	*/
}