#charakter
{
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 100;
}

#playfield
{
	width: 500px;
	height: 500px;
	/*z-index: 0;*/
	/*background-color: rgb(100, 255, 40);*/
}

.collectible
{
	position: absolute;
	width: 50px;
	/*z-index: 1;*/
}

.collectibleEnd
{
	position: absolute;
	/*opacity: 0.5;*/
	/*transition: transform 6s ease-in-out;*/
	animation: scale 5s;
	animation-timing-function: linear;
	/*
	-webkit-transition-property: width;
	-webkit-transition-duration: 5s;
	-webkit-transition-timing-function: ease-in-out;
	width: 300px;
	*/
}

@keyframes scale
{
	0% {transform: scale(0.1,0.1);}
	70% {transform: scale(0.8,0.8);}
	80% {transform: scale(1,1);}
	90% {transform: scale(10,10);}
	100% {transform: scale(20,20);}
}